# Keil MDK 构建输出
MDK-ARM/app1/
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/*.uvguix.*
MDK-ARM/*.lst
MDK-ARM/*.bak
MDK-ARM/*.dep
MDK-ARM/*.scvd

# 编译中间文件
*.o
*.obj
*.axf
*.hex
*.bin
*.map
*.crf
*.d
*.lnp
*.htm
*.build_log.htm
*.iex
*.sct

# 误生成的畸形文件
MDK-ARM/$[L*

# 系统与编辑器
.DS_Store
Thumbs.db
.vscode/
.idea/
